{% from 'macros/navigation.html' import navigation with context %}
{% from 'macros/show_notifications.html' import show_notifications %}

<!DOCTYPE html>
<html class="theme-light">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- do not translate -->
  <title>Workers Control</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='colors.css') }}">
  {% block style %}
  {% endblock %}
  <script src="{{ url_for('static', filename='main.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='main.module.js') }}"></script>
</head>

<body>
  {% set user_type = session.get('user_type') %}
  {% if user_type in ['company', 'member', 'accountant'] %}
    {% set brand_url = url_for('main_user.account_details') %}
    {% set brand_label = current_user.name|truncate(20, True) %}
    {% set is_anonymous = false %}
    {% if user_type == 'company' %}
      {% set brand_icon = 'industry' %}
      {% set dashboard_url = url_for('main_company.dashboard') %}
    {% elif user_type == 'member' %}
      {% set brand_icon = 'user' %}
      {% set dashboard_url = url_for('main_member.dashboard') %}
    {% else %}
      {% set brand_icon = 'book' %}
      {% set dashboard_url = url_for('main_accountant.dashboard') %}
    {% endif %}
  {% else %}
    {% set brand_url = url_for('auth.start') %}
    {% set brand_label = 'Workers Control' %}
    {% set brand_icon = none %}
    {% set dashboard_url = none %}
    {% set is_anonymous = true %}
  {% endif %}

  {% call navigation(
        brand_url=brand_url,
        brand_label=brand_label,
        brand_icon=brand_icon,
        dashboard_url=dashboard_url,
        is_anonymous=is_anonymous) %}
  {% block navbar_start %}
  {% endblock navbar_start %}
  {% endcall %}

  {{ show_notifications() }}

  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>
</body>

</html>
