{% extends "base.html" %}

{% block navbar_start %}
<div class="navbar-item">{{ gettext("Register consumption") }}</div>
{% endblock %}

{% block content %}
<div class="section has-text-centered">
    <div class="columns">
        <div class="column"></div>
        <div class="column is-6">
            <h1 class="title">
                {{ gettext("Register consumption") }}
            </h1>
            <br>
            <div class="content">
                {% if form.general_errors %}
                <ul>
                  {% for error in form.general_errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                <form method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="field">
                        <label class="label">{{ gettext("Plan ID") }}</label>
                        <div class="control">
                          <input
                            class="input"
                            id="plan_id"
                            name="plan_id"
                            placeholder="{{ gettext('Plan ID') }}"
                            type="text"
                            value="{{ form.plan_id_value }}"
                            {% if view_model and view_model.valid_plan_selected %}readonly{% endif %}
                            required
                            >
                        </div>
                        {% if form.plan_id_errors %}
                        <ul>
                          {% for error in form.plan_id_errors %}
                          <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {% if view_model and view_model.valid_plan_selected %}
                    <div class="notification is-info">
                        <p>
                            {{ gettext("Plan ID") }}: {{ view_model.plan_id }}
                        </p>
                        <p>
                            {{ gettext("Plan name") }}: {{ view_model.plan_name }}
                        </p>
                        <p>
                            {{ gettext("Plan description") }}: {{ view_model.plan_description }}
                        </p>
                    </div>
                    {% endif %}
                    <div class="field">
                        <label class="label">{{ gettext("Amount") }}</label>
                        <div class="control">
                          <input
                            class="input"
                            id="amount"
                            name="amount"
                            placeholder="{{ gettext('Amount') }}"
                            type="text"
                            value="{{ form.amount_value }}"
                            required
                            >
                        </div>
                        {% if form.amount_errors %}
                        <ul>
                          {% for error in form.amount_errors %}
                          <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" type="submit">{{ gettext("Register") }}</button>
                            {% if view_model and view_model.valid_plan_selected %}
                            <a class="button is-light" href="{{ url_for('main_member.register_private_consumption') }}">{{ gettext("Cancel") }}</a>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>

{% endblock %}
