{% extends "base.html" %}

{% block content %}
<div class="section is-medium">
    <div class="container">
        <div class="column is-4 is-offset-4">
            <div class="box has-text-centered">
                <h3 class="title">{{ gettext("Reset password") }}</h3>
                <div class="notification is-danger">
                    {{ gettext("The password reset link is invalid or has expired.") }}
                </div>
                <a class="button is-primary is-fullwidth" href="{{ url_for('auth.request_password_reset') }}">
                    {{ gettext("Request a new reset link") }}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
