{% extends "base.html" %}

{% block content %}
<div class="section is-medium has-text-centered">
  <h1 class="title">
    <!-- do not translate -->
    Workers Control
  </h1>
  <h2 class="subtitle">
    {{ gettext('A platform for labour time calculation.') }}
  </h2>
  <div class="buttons is-centered">
    <a class="button" href="{{ url_for('auth.login_member') }}">{{ gettext('Member') }}</a>
    <a class="button" href="{{ url_for('auth.login_company') }}">{{ gettext('Company') }}</a>
    <a class="button" href="{{ url_for('auth.login_accountant') }}">{{ gettext('Accountant') }}</a>
  </div>
</div>
{% endblock %}

