{% extends "base.html" %}

{% block navbar_start %}
<div class="navbar-item">{{ gettext("Registered working hours") }}</div>
{% endblock %}

{% block content %}

<div class="section has-text-centered">
    <h1 class="title">
        {{ gettext("Registered working hours") }}
    </h1>
    <a class="button is-primary" href="{{ view_model.register_hours_worked_url }}">
        <span class="icon">{{ "credit-card"|icon }}</span>
        <span>{{ gettext("Register hours worked") }}</span>
    </a>
</div>

{% for record in view_model.registered_hours_worked %}
<div class="section">
    <div class="columns is-centered">
        <div class="column is-one-third">
            <p>
                <div>{{ record.registered_on }}</div>
                <div>{{ record.worker_name }} ({{ record.worker_id }})</div>
                <div>{{ record.hours }}</div>
            </p>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
